@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  //font-family: $font-main;
  font-size: 16px;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

header {
  background-image: url("../../img/header.jpg");
  min-width:1200px;
  min-height:800px;
  margin: auto;
}

h1 {
  margin: auto;
}

.header{
  position: relative;
  display:flex;
  min-height: 50vh;
  margin-bottom: $gutter * 2;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #999;
  background-size: cover;
  background-repeat: no-repeat; 
}

.header--mynd{
  background-image: url("../img/header.jpg");
}

.header__h1{
  position: relative;
  display: block;
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: uppercase;
  font-size: 1rem;
  
}

.header__h2 {
  position: relative;
  font-family: "Roboto Mono", "Courier New", monospace;
  font-size: 3rem;
}

